.LoginForm {
  max-width: 330px;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid rgb(217, 217, 217);
  background: rgba(255, 255, 255, 0.9);

  &__item {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__logo {
    text-align: center;
    margin-bottom: 18px;
  }

  &__button {
    width: 100%;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: none;
    }
  }

  &__link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
